.outercontainer {
    background-color: #F9F9F9;
    min-width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 90vw;
    max-width: 90vw;
    margin: 0 auto;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 15rem;
    background-color: #c1b9ed;
    text-align: center;
}

.bannerimage {
    margin: 0 auto;
}

@media (max-width: 800px) {
    .carouselContainer {
      flex-direction: column;
    }

    .buytogethercontainer {
        max-width: 90vw !important;
        min-width: 90vw !important;
    }

    .firstcarouselContainer {
        flex-direction: column;
    }
  }

.buytogethercontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 30vw;
    min-width: 30vw;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.mainproductcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 40vw;
    min-width: 40vw;
    margin: 0 auto;
    justify-content: space-evenly;
}

.upsellproductcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 40vw;
    min-width: 40vw;
    margin: 0 auto;
    justify-content: space-evenly;
}

.promocode {
    display: flex;
}

.firstcarouselContainer {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.carouselContainer {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 6rem;
    
}

.productContainer{
    background-color: #FFFFFF;
    min-width: 10rem;
    min-height: 16rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 11px rgba(33,33,33,.1); 
    transition: box-shadow .2s;
    justify-content: space-between;
    /* position: relative; */
}

.productContainer:hover {
    box-shadow: 0 0 16px rgba(33,33,33,.3); 
}

.buybothbuttoncontainer {
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
}

a.buybutton {
     display:inline-block;
     min-width: 75%;
     padding: 0.35em 1.2em;
     border: 0.1em solid #FFFFFF;
     margin: 0 0.3em 0.3em 0;
     border-radius: 0.5em;
     box-sizing: border-box;
     text-decoration: none;
     font-weight: 300;
     background-color: #000000;
     color: #FFFFFF;
     text-align: center;
     transition: all 0.2s;
     font-family: 'Roboto',sans-serif;
     /* position: absolute; */
     /* bottom: 1rem; */
}

.buybutton:hover {
 color:#000000;
 background-color: #FFFFFF;
}