.container {
    display: flex;
    flex-direction: column;
    min-width: 90vw;
    max-width: 90vw;
    margin: 0 auto;
}
.buytogether {
    display: flex;
}
.mainproduct {
    display: flex;
}
.upsellproduct {
    display: flex;
}
.promocode {
    display: flex;
}
